{{> navbar }}

<div class="container">

  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <!-- Entropy -->
        <div class="col-md-3 leaderboard">
          <div class="panel panel-leaderboard">
            <div class="panel-heading">Entropy</div>
            <div class="panel-body">
              <ol>
                {{#each entropy}}
                 <li>
                   <mark>{{this.team}}</mark>
                   <small>{{this.entropy}}</small>
                 </li>
               {{/each}}
              </ol>
            </div>
          </div>
        </div>
        <!--/ Entropy -->

        <!-- Diversity -->
        <div class="col-md-3 leaderboard">
          <div class="panel panel-leaderboard">
            <div class="panel-heading">Diversity</div>
            <div class="panel-body">
              <ol>
                {{#each diversity}}
                 <li>
                   <mark>{{this.team}}</mark>
                   <small>{{this.diversity}}</small>
                 </li>
               {{/each}}
              </ol>
            </div>
          </div>
        </div>
        <!--/ Diversity -->

        <!-- Avg Local Error -->
        <div class="col-md-3 leaderboard">
          <div class="panel panel-leaderboard">
            <div class="panel-heading">Avg Local Error</div>
            <div class="panel-body">
              <ol>
                {{#each localerror}}
                 <li>
                   <mark>{{this.team}}</mark>
                   <small>{{this.localError}}</small>
                 </li>
               {{/each}}
              </ol>
            </div>
          </div>
        </div>
        <!--/ Avg Local Error -->

        <!-- Global Error -->
        <div class="col-md-3 leaderboard">
          <div class="panel panel-leaderboard">
            <div class="panel-heading">Global Error</div>
            <div class="panel-body">
              <ol>
                {{#each globalerror}}
                 <li>
                   <mark>{{this.team}}</mark>
                   <small>{{this.globalError}}</small>
                 </li>
               {{/each}}
              </ol>
            </div>
          </div>
        </div>
        <!--/ Global Error -->

      </div>
    </div>
  </div>
</div>


{{> footer }}
